body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 15px;
  justify-content: center;
  align-items: center;
}

.btn-style {
  background-color: #635bff;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}
